{% extends 'base.html' %}

{% block content %}

<div class="p-5 rounded shadow mb-4"
     style="background: linear-gradient(135deg, #0d6efd, #6610f2);">

    <div class="row align-items-center">

        <div class="col-md-7">
            <h1 class="fw-bold display-5 text-white">
                Big Savings on ShopNow
            </h1>

            <p class="lead text-white">
                Buy products from verified sellers at the best price.
            </p>

            <a href="/products/" class="btn btn-warning btn-lg">
                Shop Now
            </a>
        </div>

        <div class="col-md-5 text-center">
            <h1 style="font-size:120px;">🛍️</h1>
        </div>

    </div>

</div>

<h3 class="fw-bold mb-3">Featured Products</h3>

<div class="row">

    {% for product in products %}

    <div class="col-md-3 mb-4">

        <div class="card shadow h-100">

            {% if product.image %}
                <img src="{{ product.image.url }}"
                     class="card-img-top"
                     height="220"
                     style="object-fit: cover;">
            {% else %}
                <div class="text-center bg-light p-5">
                    <h1>🛒</h1>
                </div>
            {% endif %}

            <div class="card-body">

                <h5 class="fw-bold">
                    {{ product.name }}
                </h5>

                <p class="text-success fw-bold">
                    ₹{{ product.price }}
                </p>

                <p class="text-muted">
                    {{ product.description }}
                </p>

                <div class="d-grid gap-2">

                    <a href="{% url 'add_to_cart' product.id %}"
                       class="btn btn-primary">
                        Add To Cart
                    </a>

                    <a href="{% url 'checkout' product.id %}"
                       class="btn btn-success">
                        Buy Now
                    </a>

                </div>

            </div>

        </div>

    </div>

    {% empty %}

    <div class="col-12">
        <div class="card shadow p-5 text-center">
            <h3>No Products Available</h3>
            <p>Add products as seller and approve them from admin panel.</p>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}